#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#submit-button {
    display: block;
    margin-left: auto;
    padding: 10px;
    right: 0;
}


.basic-input {
    width: 300px;
    height: 15px;
}

#price {
    width: 150px;
}

#description {
    width: 700px;
    height: 300px;
    resize: none;
}
